.d-flex{
    display: flex;
}
.flex-column{
    flex-direction: column;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-evenly{
    justify-content: space-evenly;
}
.justify-content-center{
    justify-content: center;
}
